$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}
.sign-in-conatiner {
    display: flex;
    flex-direction: column;
    width: 380px;
    h2 {
        margin: 10px 0;
    }

    .buttons-container {
      display: flex;
      justify-content: space;
    }
}

